<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikvych.cocktail.auth">

    <application
        android:theme="@style/Theme.App.Main">
        <activity
            android:name="com.ikvych.cocktail.auth.AuthActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
    </application>

</manifest>