<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikvych.cocktail.prresentation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.ikvych.cocktail.permission.MAPS_RECEIVE"/>

    <permission
        android:name="com.ikvych.cocktail.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:theme="@style/Theme.App.Main">

        <service android:name="com.ikvych.cocktail.prresentation.service.ApplicationService" />
        <receiver android:name="com.ikvych.cocktail.prresentation.receiver.ActionBootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ikvych.cocktail"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

<!--        <service
            android:name="com.ikvych.cocktail.firebase.firebase.AppFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->
<!--
        <service android:name="com.ikvych.cocktail.firebase.firebase.NotificationActionService" />-->


    </application>

</manifest>